<style>
  table {
    width: 100%;
    table-layout: auto;
    text-align: center;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td {
    font-palette: dark;
    font-size: 15px;
  }

  th {
    width: max-content;
    font-size: 23px;
    color: black;
  }

  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

</style>
<c-row>
  <c-col>
    <mat-form-field appearance="fill">
      <mat-select [(ngModel)]="selectedProposal" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="findMobility(selectedProposal)" required>
        <mat-option>None</mat-option>
        <mat-option *ngFor="let m of mobilityList" [value]="m.proposalNumber">
          {{m.organisationLegalName}}
        </mat-option>
      </mat-select>
      <mat-label>Mobility opportunities</mat-label>
      <mat-hint>Please select available enrollment opportunities</mat-hint>
    </mat-form-field>
  </c-col>
</c-row>
<br><br><br><br><br><br>
<c-row>
  <c-col>
    <div class="body flex-grow-1 px-3">
      <c-container breakpoint="lg" class="h-auto container-lg" _nghost-qgx-c92="">
        <c-row _ngcontent-qgx-c191="" _nghost-qgx-c96="" class="row">
          <c-col _ngcontent-qgx-c204="" xs="12" _nghost-qgx-c94="" class="col-12">
            <c-card _ngcontent-qgx-c204="" class="mb-4 card">
              <c-card-header _ngcontent-qgx-c204="" class="card-header">

                <strong _ngcontent-qgx-c204 class="h3">Events List</strong>

              </c-card-header>
              <c-card-body _ngcontent-qgx-c204="" class="card-body">
                <c-container>
                  <mat-form-field appearance="standard">

                    <input matInput (keyup)="applyFilter($event)" placeholder="Insert Keyword" #input>
                  </mat-form-field>
                  <br>
                  <div style="display: block;
              overflow-x: scroll;
              white-space: nowrap;">
                    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
                      <ng-container matColumnDef="proposalNumber">-->
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="proposalNumber"
                            sortActionDescription="Sort by number"> Proposal number
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.proposalNumber}} </td>
                      </ng-container>
                      <ng-container matColumnDef="erasmusCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            sortActionDescription="Sort by erasmusCode">
                          Erasmus code
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.erasmusCode}} </td>
                      </ng-container>
                      <ng-container matColumnDef="pic">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pic">pic
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.pic}} </td>
                      </ng-container>
                      <ng-container matColumnDef="oid">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by oid">oid
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.oid}} </td>
                      </ng-container>
                      <ng-container matColumnDef="organisationLegalName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            sortActionDescription="Sort by Oganisation legal name">
                          Oganisation legal name
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.organisationLegalName}} </td>
                      </ng-container>
                      <ng-container matColumnDef="street">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by street">
                          Street
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.street}} </td>
                      </ng-container>
                      <ng-container matColumnDef="postalCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            sortActionDescription="Sort by Postal code">Postal code
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.postalCode}} </td>
                      </ng-container>
                      <ng-container matColumnDef="city">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by City">City
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                      </ng-container>
                      <ng-container matColumnDef="country">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by country">
                          Country
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.country}} </td>
                      </ng-container>
                      <ng-container matColumnDef="webpage">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by webpage">
                          Webpage
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.webpage}} </td>
                      </ng-container>

                      <ng-container matColumnDef="enrollHei">
                        <th mat-header-cell *matHeaderCellDef> Enroll
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <div class="d-flex justify-content-center">
                            <button *ngIf="element.mobility==true" [cPopover]="popoverHtml"
                                    _ngcontent-qgx-c208
                                    cPopoverPlacement="bottom"
                                    [cPopoverTrigger]="'click'"
                                    cButton
                                    class="me-1 btn btn-ghost-danger ng-star-inserted"
                                    variant="ghost"
                                    size="lg">

                              <svg cIcon name="cil-plus" size="xl" title="Numbered List Icon"></svg>
                              <ng-template #popoverHtml>
                                <h3 class="popover-header">
                                  Enroll
                                </h3>

                                <div class="popover-body">
                                  Are you sure you want to <i cTextColor="danger">enroll</i> in this mobility
                                  opportunity?
                                </div>
                                <div class="d-flex justify-content-center">
                                  <button cButton
                                          _ngcontent-qgx-c208
                                          class="me-1 btn btn-outline-danger ng-star-inserted"
                                          variant="outline"
                                          [routerLink]="['enrollhei/'+element.proposalNumber+'/'+element.erasmusCode+'/'
                                      +element.pic+'/'+element.oid+'/'+element.organisationLegalName+'/'
                                      +element.street+'/'+element.postalCode+'/'+element.city+'/'+element.country+'/'+element.rcp]"
                                  > Enroll
                                  </button>
                                  <button cButton
                                          ngcontent-qgx-c208
                                          class="me-1 btn btn-outline-info ng-star-inserted"
                                          variant="outline"> Cancel
                                  </button>
                                </div>
                                <br>
                              </ng-template>
                            </button>
                          </div>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                      </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
                  </div>
                </c-container>
              </c-card-body>
            </c-card>
          </c-col>
        </c-row>
      </c-container>
    </div>
  </c-col>
</c-row>
<!--<mat-form-field appearance="standard">-->

<!--  <input matInput (keyup)="applyFilter($event)" placeholder="Insert Keyword" #input>-->
<!--</mat-form-field>-->
<!--<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"-->
<!--       class="mat-elevation-z8">-->
<!--  <ng-container matColumnDef="enrollHei">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header="enrollHei" sortActionDescription="Sort by number"> Enroll-->
<!--    </th>-->
<!--    <td mat-cell *matCellDef="let element">-->
<!--      <div class="d-flex justify-content-center">-->
<!--        <button mat-raised-button [routerLink]="['enrollhei/'+element.proposalNumber+'/'+element.erasmusCode+'/'-->
<!--      +element.pic+'/'+element.oid+'/'+element.organisationLegalName+'/'-->
<!--      +element.street+'/'+element.postalCode+'/'+element.city+'/'+element.country]"-->
<!--                color="primary">-->
<!--          Enroll-->
<!--        </button>-->
<!--      </div>-->
<!--    </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="proposalNumber">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header="proposalNumber" sortActionDescription="Sort by number">-->
<!--      proposalNumber-->
<!--    </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.proposalNumber}} </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="erasmusCode">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header="erasmusCode" sortActionDescription="Sort by number">-->
<!--      erasmusCode-->
<!--    </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.erasmusCode}} </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="pic">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header="pic" sortActionDescription="Sort by number"> pic</th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.pic}} </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="oid">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header="oid" sortActionDescription="Sort by number"> oid</th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.oid}} </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="organisationLegalName">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header="organisationLegalName"-->
<!--        sortActionDescription="Sort by number"> organisationLegalName-->
<!--    </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.organisationLegalName}} </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="street">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header="street" sortActionDescription="Sort by number"> street</th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.street}} </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="postalCode">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header="postalCode" sortActionDescription="Sort by number">-->
<!--      postalCode-->
<!--    </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.postalCode}} </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="city">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header="city" sortActionDescription="Sort by number"> city</th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.city}} </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="country">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header="country" sortActionDescription="Sort by number"> country</th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.country}} </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="webpage">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header="webpage" sortActionDescription="Sort by number"> webpage</th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.webpage}}</td>-->
<!--  </ng-container>-->
<!--  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>-->
<!--  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>-->

<!--</table>-->
<!--<mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>-->
<br><br><br><br><br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
